# File that adds extra files for the installation, beyond the 'fenics_topopt_foam' folder
 # https://github.com/pypa/sampleproject/blob/main/MANIFEST.in
 # https://stackoverflow.com/questions/56144087/comments-in-python-manifest-in
 # https://packaging.python.org/guides/using-manifest-in/

# Include the read-me file
include README.md

# Include the license file
include COPYING

# Include the Git link
include LINK.txt

# Additional non-Python files
recursive-include fenics_topopt_foam/cpp_openfoam_modules *
recursive-include fenics_topopt_foam/cpp_openfoam_utilities *
recursive-include fenics_topopt_foam/io/sh *
recursive-include fenics_topopt_foam/mesh/dummy_files *
recursive-include fenics_topopt_foam/plugins *

